.img-container {
}

.ing-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  background: black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
}
