:root {
  --dark-background-color: black;
  --dark-hover-color: rgb(50, 50, 50);
}

* {
  background-color: var(--dark-background-color);
}

/* COMMON TO ALL */
h1 {
  color: white;
  margin-top: 100px;
  text-align: right;
  padding-right: 50px;
  margin-bottom: 0px; /*NOTE: THIS CONTROLS WHITE LINES*/
}

/* NAV-BAR ISSUES*/

a:hover {
  background-color: var(--dark-hover-color);
  color: rgba(179, 177, 177, 0.492);
  border-radius: 5px;
}

.dropdown-dark {
  background-color: black;
  color: gray;
}

.dropdown-dark:hover {
  background-color: var(--dark-hover-color);
  color: white;
}

/* PORTFOLIO -GRAPHIC DESIGN */

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  a:hover {
    width: 40%;
  }

  h1 {
    text-align: center;
  }
}
