:root {
  --dark-background-color: black;
  --dark-hover-color: rgb(50, 50, 50);
}

* {
  background-color: var(--dark-background-color);
}

a:hover {
  background-color: var(--dark-hover-color);
  color: white;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  a:hover {
    width: 40%;
  }
}
